body {
    color:black;
    margin: 0;
    background-image: linear-gradient(#868F96, #596164

    );
    
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
    font-family: 'Black Ops One', cursive;
font-family: 'Roboto Mono', monospace;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
    font-family: 'Black Ops One', cursive;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sidebar a{
    text-decoration: none;
}
.sidebar h2 {
    margin-top: 5px;
}
.titlef{
    height: 20vh;
    border-radius: 10px;
    width: 70vw;
}
.contentf{
    height: 50vh;
    border-radius: 10px;
    width: 70vw;
}
