{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1 style="font-size: 100px;">WIKI</h1>
    <p style="font-size: 15px;">Wikipedia is a free-content online encyclopedia written and maintained by a community of volunteers, collectively known as Wikipedians, through open collaboration and using a wiki-based editing system called MediaWiki. <br> Wikipedia is the largest and most-read reference work in history, and has consistently been one of the 10 most popular websites.[5] Created by Jimmy Wales and Larry Sanger on January 15, 2001, it is hosted by the <br>Wikimedia Foundation, an American non-profit this is a replica of wiki

    </p>
    <h1>All Pages</h1>

    <ul>
        {% for entry in entries %}
            <li style="font-size: 30px;"><a href="{%url 'name' name=entry %}" style="font-family: 'Black Ops One', cursive;font-family: 'Roboto Mono', monospace;font-size: 30px; text-decoration: none; color: rgb(18, 204, 236);">{{ entry }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}